<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GameManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A64EE521DF5F1130041EB4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A64EE661DF5F1130041EB4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A64EE711DF5F1130041EB4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
